
#contact-info, #contact-form {
    margin-bottom: 50px;
}


#contact-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}


#contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#contact-info address {
    font-style: normal;
    margin-bottom: 10px;
}


#contact-form label {
    display: block;
    margin-bottom: 10px;
}


#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


#contact-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button[type="submit"]:hover {
    background-color: #0056b3;
}
